body {
  color: #2c3e50;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* @group Navigation bar */

.navbar {
  letter-spacing: -0.1px;
}

.navbar svg {
  display: inline-block;
  height: auto;
  width: 1.2em;
  vertical-align: middle;
}

.navbar a path {
  fill: #777;
}

.navbar li.active path, .navbar a:hover path {
  fill: #fff;
}

/* @endgroup Navigation bar */

/* @group Sidebar */
sidebar h1 {
  font-size: 1.2em;
}

sidebar .run-number {
  margin: -2px 0 0 0;
  padding: 10px 10px 15px 10px;
  border-bottom: 1px solid #eee;
  font-weight: 700;
}

@media only screen and (min-width : 768px) {
  sidebar .run-number {
    margin: -20px -20px 0 -20px;
    padding: 20px;
  }
}

sidebar .run-number:hover {
  background: #eee;
}

sidebar .run-number > a {
  color: #333;
}

sidebar .run-number small {
  padding-top: 6px;
}

sidebar .sensor-detail {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* @endgroup Sidebar */

/* @group Main content */

.main {
  /* Align the border-bottom of an h1.page-content with the run selector */
  padding-top: 10px;
}

.label-plot-help {
  background: #eee;
  color: #fff;
  /* These help labels open a modal dialog, so look like a link */
  cursor: pointer;
}

.label-plot-help:hover {
  background: #d5d5d5;
}

/* @endgroup Main content */

/* Insert a thin space before units of measurement */
.unit:before {
  content: " ";
}

.run-view-pane h1 {
  margin: 20px 0 10px 0;
  text-align: center;
  font-size: 1.2em;
}

.plot {
  height: 400px;
}

.run-view-pane .plot {
  height: 400px;
}

.bk-plot-wrapper {
  /* So users don't accidentally select things when dragging on the plots */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.velo-layout {
  /* Center VELO layout buttons inside their container */
  text-align: center;
}

.input-daterange input:first-of-type {
  border-right: none;
}

.input-daterange input:last-of-type {
  border-left: none;
}

.trend-plot {
  width: 100%;
  height: 400px;
}

.sensor-selector, .module-selector {
  margin: 10px 0;
  text-align: center;
}

.sensor-selector .input-group {
  width: 100%;
  margin: 10px;
}

.sensor-selector .previous, .sensor-selector .next {
  width: 100%;
}

@media only screen and (min-width : 768px) {
  .sensor-selector .input-group {
    width: auto;
  }
}

@media only screen and (min-width : 992px) {
  .sensor-selector .previous, .sensor-selector .next {
    width: auto;
  }
}

.dq-tree ul {
  margin: 0 0 0 1em;
  padding: 0;
  list-style-type: none;
}

.dq-tree .toggle {
  cursor: pointer;
}

.dq-tree .toggle:before {
  content: "- ";
  display: inline-block;
  width: 1em;
}

.dq-tree .toggle.closed:before {
  content: "+ ";
}

.iv-title {
  text-align: center;
}
