{% extends "run_view/layout.html" %}
{% block pageheader %}{{ g.page_data.title }}{% endblock %}
{% block body %}
  {{ super() }}

  {{ display_flash_messages() }}

  {% set subpages = g.page_data.get('subpages', [g.page_data]) %}

  {# One tab per subpage #}
  <ul class="nav nav-tabs nav-justified" role="tablist">
    {% for subpage in subpages %}
      {# Sanitise subplot.title in to a valid URL hash value #}
      <li class="run-view-tab"><a href="#{{ subpage.title | sanitise }}" role="tab" data-toggle="tab">{{ subpage.title }}</a></li>
    {% endfor %}
  </ul>
  {#
  This is a hack to properly size plots.

  The problem is that .tab-content hides .tab-pane children with display: none,
  and so the .plot divs have no dimensions. The plotting library uses the
  container dimensions on initialisation, so this causes tiny plots to be made.

  The fix is to use this dummy class, .to-be-tab-content, then explicitly set
  the width and height of the plots in the JavaScript, then hide the .tab-pane
  children by renaming the dummy class to .tab-content.

  See the setup persistPlotDimensions and setupTabs JS functions.
  #}
  <div class="to-be-tab-content">
    {% for subpage in subpages %}
      {#
      Loop over all subpages, wrapping each plot in a .col-sm-X, and wrapping
      every `nhorizontal` plots in a .row.
      If no layout is specified, we take the default as 1x1.
      #}
      {% set nhorizontal, nvertical = subpage.get('layout', (1, 1)) %}
      {# Keep track of whether we need to insert a new .row wrapper #}
      {% set row_counter = 1 %}
      <div class="tab-pane run-view-pane" id="{{ subpage.title | sanitise }}">
        {% for plot in subpage.plots %}
          {% if row_counter == 1 %}
            <div class="row">
          {% endif %}
            <div class="col-sm-{{ 12//nhorizontal }}">
              {% include "_plot.html" %}
            </div>
          {% if row_counter == nhorizontal or loop.last %}
          </div>
          {% set row_counter = 1 %}
          {% else %}
            {% set row_counter = row_counter + 1 %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  {% include "_sensor_selector.html" %}

  {# datalist for possible sensor numbers, used for autocompletion in the sensor selection form #}
  {# Kept outside the plots loop else we'll have duplicate IDs #}
  {# TODO polyfill this, not supported by Safari and IE < 10 #}
  <datalist id="sensors">
    {% for rsensor in range(0, 42) %}
      <option value="{{ rsensor }}">R sensor</option>
    {% endfor %}
    {% for phisensor in range(64, 106) %}
      <option value="{{ phisensor }}">Φ sensor</option>
    {% endfor %}
  </datalist>
{% endblock %}
