{#
  Return code for displaying flash messages.
#}
{% macro display_flash_messages() %}
  {# Map application flash categories to Bootstrap classes #}
  {% set class_mapping = {'success': 'success', 'info': 'info', 'warning': 'warning', 'error': 'danger'} %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ class_mapping[category] }}">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
